<img src="./assets/images/projects/animize.png">
<p>An application transfers any image into Japanese Anime style with the help of
    community detection algorithm and neural style transfer algorithm.
</p>
<p>
    2,000 Anime posters were collected and constructed into a network based on similarities.
    And then various community detection algorithms were run on this network to filter out the
    most representative posters of different genres. These posters are further used as style
    reference images in neural style transfer algorithm to stylize the input images.
</p>
<p>
    This project won the best machine learning award in 2019 NUS SOC
    <a href="https://sws.comp.nus.edu.sg/2019/" target="_blank" rel="noopener noreferrer">workshop</a>,
    see our poster <a href="https://player-eric.com/resources/AnimizePoster.pdf" target="_blank"
        rel="noopener noreferrer">here</a>.
</p>
