<img src="./assets/images/projects/mtqe.png">
<p>Machine translation quality estimation is a task for predicting the quality of a given translation,
    without comparing it to a ground-truth reference. In 2020, I worked in NiuTrans team participating
    in the
    <a href="http://www.statmt.org/wmt20/quality-estimation-task.html" target="_blank" rel="noopener noreferrer">
        WMT20
    </a> quality estimation contest.
</p>
<p>
    With methods combining transfer
    learning, multi-task learning and model ensemble, we won first places in a few shared tasks.
    Check this
    <a href="http://www.statmt.org/wmt20/pdf/2020.wmt-1.117.pdf" target="_blank" rel="noopener noreferrer">
        submitted paper
    </a>
    for more details about our work.
</p>
