<img src="./assets/images/projects/coveryournose.png">
<p>
    Despite the significant vaccination process,
    people may still need to wear masks for a long time when they are outdoors.
    This web app
    <a href="http://coveryournose.xyz" target="_blank" rel="noopener noreferrer">
        CoverYourNose
    </a>
    was developed to help people
    check if they are wearing masks properly.
</p>
<p>
    Powered by an Single Shot MultiBox Detector
    <a href="https://arxiv.org/abs/1512.02325" target="_blank" rel="noopener noreferrer">
        (SSD)
    </a>
    trained on ~10k annotated images, and a few
    HAAR-feature based faicial landmark detectors, CoverYourNose achieves satisfactory performance
    on detecting wrongly worn masks. For more details, please refer to this
    <a href="https://player-eric.com/resources/CoverYourNoseReport.pdf" target="_blank" rel="noopener noreferrer">
        report
    </a> and the
    <a href="https://github.com/player-eric/CoverYourNose" target="_blank" rel="noopener noreferrer">
        code
    </a>.
</p>
