<img src="./assets/images/projects/brownbytes.png">
<p>
    <a href="http://brownbytes.club/about" target="_blank" rel="noopener noreferrer">BrownBytes</a> is a website for
    sharing free food events information,
    donating spare meal plan swipes, and networking with people inside or outside Brown community.
</p>
<p>
    The frontend was implemented with React and Redux, and the backend was built with Node.js and
    Express.js. Data are stored on a MySQL server. Deployed with Docker and Nginx, BrownBytes runs on an
    AWS EC2 instance. Check out the <a href="https://github.com/player-eric/BrownBytes" target="_blank"
        rel="noopener noreferrer">code</a>
    for more implementation details.
</p>
