body,
html {
	height: 100%;
	overflow: hidden;
	background-color: #efe2ba;
}

.double-slider .slick-dots {
	position: fixed;
	z-index: 100;
	width: 40px;
	height: auto;
	bottom: auto;
	top: 75%;
	right: 0;
	transform: translateY(-50%);
	left: auto;
	color: #4056a1;
	display: block;
}

.double-slider .slick-dots li {
	display: block;
	width: 100%;
	height: auto;
}

.double-slider .slick-dots li button {
	position: relative;
	width: 20px;
	height: 15px;
	text-align: center;
}

.double-slider .slick-dots li button:before {
	content: "";
	background: #4056a1;
	color: #4056a1;
	height: 5px;
	width: 30px;
	border-radius: 5rem;
	position: absolute;
	top: 50%;
	right: 0;
	left: auto;
	transform: translateY(-50%);
	transition: all 0.2s ease-in-out;
	opacity: 0.6;
}

.double-slider .slick-dots li.slick-active button:before {
	width: 60px;
	opacity: 1;
}

.double-slider {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.left-section {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 35vw;
	height: 100vh;
	overflow: hidden;
}

@media only screen and (max-width: 1300px) {
	.left-section {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 50vw;
		height: 100vh;
		overflow: hidden;
	}
}

.right-section {
	position: relative;
	z-index: 1;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.item {
	height: 100vh !important;
}

.profile-text {
	width: 65vw !important;
	left: 35%;
	position: relative;
	overflow: hidden;
	border: none;
	background-color: #efe2ba;

	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

@media only screen and (max-width: 1300px) {
	.profile-text {
		width: 50vw !important;
		left: 50%;
		position: relative;
		overflow: hidden;
		border: none;
		background-color: #efe2ba;

		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
	}
}

a {
	color: black;
}

.bio {
	position: absolute;
	top: 10%;
	left: 1%;

	display: flex;
	flex-direction: column;
}

.name-sig {
	display: flex;
	justify-content: center;
	padding-bottom: 1%;
}

#name {
	font-family: Lucida Bright, Georgia, serif;
	font-size: 40px;
	font-weight: bold;
}

#signature {
	height: 50px;
	padding-left: 1%;
}

#email {
	font-size: 30px;
	color: black;
	align-self: center;
	padding-bottom: 2%;
}

.bio-text {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: x-large;
	padding-bottom: 1%;
}

.jump-link {
	cursor: pointer;
	text-decoration: underline;
}

#profile-page-arrow {
	font-size: 70px;
	cursor: pointer;
	position: absolute;
	bottom: 5%;
	right: 5%;
}

#linkedin-logo {
	position: relative;
	top: 5px;
	width: 30px;
	height: 30px;
	display: inline-block;
}

#github-logo {
	position: relative;
	top: 5px;
	width: 30px;
	height: 30px;
	display: inline-block;
}

#simao-img {
	position: absolute;
	bottom: 10%;
	left: 25%;
}

.profile-photo {
	position: relative;
	overflow: hidden;
	border: none;

	border-top-right-radius: 5rem;
	border-bottom-right-radius: 5rem;
}

.profile-photo-card {
	height: 100vh;
	width: 35vw;
	position: relative;
	overflow: hidden;
	border: none;
	background-color: #d79922;

	border-top-right-radius: 5rem;
	border-bottom-right-radius: 5rem;
	display: flex;
	align-content: center;
	align-items: center;
}

@media only screen and (max-width: 1300px) {
	.profile-photo-card {
		height: 100vh;
		width: 50vw;
		position: relative;
		overflow: hidden;
		border: none;
		background-color: #d79922;

		border-top-right-radius: 5rem;
		border-bottom-right-radius: 5rem;
		display: flex;
		align-content: center;
		align-items: center;
	}
}

#selfie {
	border-radius: 3rem;
	width: 400px;
	height: 400px;
	position: relative;
	left: 10%;
}

.project-list {
	width: 50vw !important;
	position: relative;
	overflow: hidden;
	border: none;
	background-color: yellowgreen;
}

.project-detail {
	width: 75vw !important;
	position: relative;
	overflow: hidden;
	left: 25%;
	border: none;
	background-color: yellow;
}

.lists {
	width: 50%;
	background-color: violet;
	height: 100vh;
}

.skills-left {
	width: 50vw !important;
	position: relative;
	overflow: hidden;
	background-color: #efe2ba;

	display: flex !important;
	flex-direction: column;
}

.skills-right {
	width: 50vw !important;
	left: 50%;
	position: relative;
	overflow: hidden;
	border: none !important;
	background-color: #d79922;

	display: flex i !important;
	flex-direction: column;
}

#skills-page-arrow {
	font-size: 70px;
	cursor: pointer;
	position: absolute;
	bottom: 5%;
	right: 5%;
}

.skills-page-triangle {
	position: relative;
	left: -10px;
	width: 0;
	height: 0;
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-left: 60px solid #efe2ba;
}

#skills-title-left {
	font-size: 50px;
	font-weight: bold;

	align-self: flex-end;
	padding-right: 1%;
	font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva,
		Verdana, sans-serif;
}

#skills-title-right {
	font-size: 50px;
	font-weight: bold;

	padding-left: 1%;
	font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva,
		Verdana, sans-serif;
}

.skills-section {
	position: relative;
	left: 5vw;
	width: 40vw;
	padding-top: 2%;
}

.skills-section-title {
	font-size: 40px;
	font-weight: bold;
	font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva,
		Verdana, sans-serif;
}

.skills-row {
	display: flex;
	justify-content: space-between;
	padding-top: 3vh;
}

.single-skill {
	display: flex;
	align-content: center;
	flex-direction: column;
	width: 50px;
}

.skill-icon {
	flex: 1;
	width: 50px;
	height: 50px;
	margin: 0 !important;
}

.skill-name {
	text-align: center;
	font-size: larger;
	padding-top: 2px;
}
